<% include ./../../helper/selectBox-frontend%>

<%

const url = `/${systemConfigs.prefixNews}/` ;

const cleanedURL = url.replace(/\/+/g, '/');

%>
<!DOCTYPE html>
<html lang="en">

<body class="animsition">
	


	<!-- Breadcrumb -->
<!-- Category Selectbox -->
<div class="container p-t-4 p-b-40">
    <h2 class="f2-l-1 cl2">
		<strong><%- selectBoxFrontendHelper('filter_category_frontend', categoryRssEditedOutside, params.categoryGeneralNewsId, '') %> </strong>     
    </h2>
</div>
	<!-- Page heading -->
	<% include ./../../elements/page-heading%>

	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="row">

						<% filterByCategoryEnd.forEach((item, index) => { %> 
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->	
							<div class="m-b-45">
								<a href="" class="wrap-pic-w hov1 trans-03">
									<img src="<%= item.thumb%>" alt="IMG">
								</a>
						
								<div class="p-t-16">
									<h5 class="p-b-5">
										<a href="<%= cleanedURL%>/general-news-blog/<%= item.id%>" class="f1-m-3 cl2 hov-cl10 trans-03">
											<%= item.title%> 
										</a>
									</h5>
						
									<span class="cl8">
										<span class="f1-s-3">
											<%= item.pubDate%>
										</span>
									</span>
								</div>
							</div>
						</div>	
						<% }) %>					
					</div>
					<!-- Pagination -->
					<div class="flex-wr-s-c m-rl--7 p-t-15">
						<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">1</a>
						<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">2</a>
					</div>
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">							
						<!-- Subscribe -->

						<!-- Most Popular -->
						<% include ./../../elements/most-popular%>

						<!--  -->
						
						<!-- Tag -->
						<% include ./../../elements/tag-rss%>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>